

@font-face {
    font-family: Montserrat;
    src: url("./assets/font/Montserrat-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Montserrat;
    src: url("./assets/font/Montserrat-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: Montserrat;
    src: url("./assets/font/Montserrat-Medium.ttf");
    font-weight: 500;
}



@import "tailwindcss";

@theme{
    --font-montserrat: Montserrat, "sans-serif";

    --color-base: #222222;
    --color-second: #686868;
    --color-gray: #E5E5E5;
    --color-accent: #FFBE25;

}

